@keyframes ldio-rt80uakkshr {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(22.5deg) }
  100% { transform: rotate(45deg) }
}

body {
  display: block;
  justify-content: flex-start;
}

.ldio-rt80uakkshr > div {
  transform-origin: 100px 100px;
  animation: ldio-rt80uakkshr 0.2s infinite linear;
}

.ldio-rt80uakkshr > div div {
  position: absolute;
  width: 22px;
  height: 152px;
  background: #e15b64;
  left: 100px;
  top: 100px;
  transform: translate(-50%,-50%);
}

.ldio-rt80uakkshr > div div:nth-child(1) {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.ldio-rt80uakkshr > div div:nth-child(6) {
  width: 80px;
  height: 80px;
  background: #ffffff;
  border-radius: 50%;
}

.ldio-rt80uakkshr > div div:nth-child(3) {
  transform: translate(-50%,-50%) rotate(45deg)
}

.ldio-rt80uakkshr > div div:nth-child(4) {
  transform: translate(-50%,-50%) rotate(90deg)
}

.ldio-rt80uakkshr > div div:nth-child(5) {
  transform: translate(-50%,-50%) rotate(135deg)
}

.loadingio-spinner-gear-221f0037gso {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-rt80uakkshr {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-rt80uakkshr div { box-sizing: content-box; }

.hidden {
  display: none !important;
  width: 0;
  height: 0;
};
#loader {
  display: none;
}